.inbox-container {
  padding: 20px;
}

.email-list {
  border: 1px solid #ccc;
}

.email-item {
  padding: 15px;
  border-bottom: 1px solid #ccc;
  cursor: pointer;
  background-color: #fff;
  border-radius: 2px;
  //margin-bottom: 10px;
  transition: background-color 0.3s, box-shadow 0.3s;
}

.email-item.read {
  background-color: rgb(242, 246, 252);
}

.email-item:hover {
  background-color: #c7d4d970;
  box-shadow: inset 1px 0 0 #dadce0, inset -1px 0 0 #dadce0,
    0 1px 2px 0 rgba(60, 64, 67, 0.3), 0 1px 3px 1px rgba(60, 64, 67, 0.15);
}

.email-item.read .email-sender,
.email-item.read .email-subject,
.email-item.read .email-snippet,
.email-item.read .email-date,
.email-item.read .email-details {
  //color: #999;
  font-weight: 300;
}

.email-sender {
  width: 200px;
}

.email-subject {
  color: #000;
}

.email-header {
  font-weight: 600;
  color: #000;
  font-size: 1em;
}

.email-item.read .email-header {
  font-weight: 300;
  color: #000;
}

.email-snippet {
  color: #666;
}

.email-date {
  text-align: right;
  color: #000;
}

.email-details {
  margin-top: 10px;
  padding: 10px;
  border-top: 1px solid #ccc;
  background-color: #fff;
}
